@page "/page/register"

<EditForm Model="user" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <InputText id="firstName" @bind-Value="user.FirstName" class="form-control" />
        <ValidationMessage For="@(() => user.FirstName)" />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <InputText id="lastName" @bind-Value="user.LastName" class="form-control" />
        <ValidationMessage For="@(() => user.LastName)" />
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="user.Username" class="form-control" />
        <ValidationMessage For="@(() => user.Username)" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="user.Email" class="form-control" />
        <ValidationMessage For="@(() => user.Email)" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" type="password" @bind-Value="user.Password" class="form-control" />
        <ValidationMessage For="@(() => user.Password)" />
    </div>

    <div class="form-group">
        <label for="confirmedPassword">Confirmed Password:</label>
        <InputText id="confirmedPassword" type="password" @bind-Value="user.ConfirmedPassword" class="form-control" />
        <ValidationMessage For="@(() => user.ConfirmedPassword)" />
    </div>

    <div class="form-group">
        <label for="dateOfBirth">Date Of Birth</label>
        <InputDate id="dateOfBirth" @bind-Value="user.DataOfBirth" class="form-control" />
    </div>

    <div class="form-group">
        <InputCheckbox id="isConfirmed" @bind-Value="user.IsConfirmed" class="form-control" />
        <label for="isConfirmed">Confirmed User:</label>
        <ValidationMessage For="@(() => user.IsConfirmed)" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    root.Shared.UserRegister user = new root.Shared.UserRegister();

    void HandleRegister()
    {
        System.Console.WriteLine($"Adding user to database");
    }
}